html {
  display: block;
}

body {
  display: block;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

header {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  height: 69px;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

.logo img {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

nav span a {
  display: inline-block;
  position: relative;
  left: 1060px;
  align-items: center;
  padding-right: 10px;
  color: seashell;
  text-decoration: underline;
}

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}

#mission {
  background-image: url(../images/img-mission-background.jpg);
  display: flex;
  flex-wrap: wrap;
  height: 700px;
  justify-content: center;
  padding-top: 70px;
}

#mission, .about {
  display: block;
  width: 100%;
  margin: auto;
  background-color: black;
  justify-content: center;
  text-align: center;
}

.featured-tea {
  display: block;
  width: 1000px;
  background-color: black;
  text-align: center;
}

.teas {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 700px;
  margin: auto;
}

.teas img {
  display: inline-block;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
}

.teas span {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 1000px;
  margin-top: 10px;
  font-weight: bold;
  align-items: center;
}

.locales {
  background-image: url(../images/img-locations-background.jpg);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  height: 500px;
  justify-content: center;
}

.locales h2 {
  display: block;
  width: 1200px;
  text-align: center;
}

.sites {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  width: 300px;
  height: auto;
  margin-top: 15px;
  background-color: black;
}
